[mysqld]

port = 3306
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock

# InnoDB Settings

# READ HEAVY QUERY SETTINGS (INTEGRITY/CONSISTENCY SENSITIVE)
##  to avoid locking for higher batches (mostly-read)SQL: SET SESSION TRANSACTION ISOLATION LEVEL READ COMMITTED;

# innodb_doublewrite = 0 # Disable double-write buffer (safer off if you do frequent read-only scans)
# innodb_read_io_threads = 8
# innodb_write_io_threads = 2

# Buffer Pool (75% of RAM for dedicated DB server)
innodb_buffer_pool_size = 8G
innodb_buffer_pool_instances = 8

# Performance Tuning

# Query cache deprecated in MySQL 8.0, DO NOT USE FOR COMPATIBILITY
# Use application-level caching like redis, Spark related in-memory strucutres... or even Google Object Cloud storage

# Server/other caching... Data lake cloud if scaled to extremely high volume+velocity web requests
# For often loaded data files at any medallion layer / data subtiers, there is already .pkl+.json pipeline/API caching in the DML gen python code,
# Or, there is Google Cloud that offers Cloud CDN's caching if the data lake of raw files needs to scale(Avoid DNS propagation delays, complex routes for ingestion...)


# Connection pooling
max_connections = 500
thread_cache_size = 100 # usually automatically computed with max_connection which here is high for case specific fault-tolerance, so specify it for your server

# Binary logging for replication
log_bin = mysql-bin
binlog_format = ROW
expire_logs_days = 7 # Suited for batch updates for high integrity... and when migrate partitions/loads e.g. Google Cloud BigQuery
                     # If need more OLTP procedures or faster than daily batch ETL runs... explore other configs
                     # The ETL is better ran every few days at most if you really want up-to-date information, which is not often case unless doing granular deep learning etc..

# Slow query log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2

# Partitioning
partition_pruning = ON # if need to do quick query in on-premise cluster/spartitions of MySQL or other compatible SQL server/RDBMS...
                       # But for several millions of records and high-dimensionality (lots of features/cols/fields)... FAVOR USING HIGHLY PARTITION OPTIMIZED SQL OR BIGQUERY/GOOGLE CLOUD SQL
                       # Current DDL already well optimized for native "clustering" (Primary keys + Foreign keys + indexes..etc..).. but highly normalized into tables.. it is meant for ACID compliance...
                       # MOST PRODUCTION QUERIES HOWEVER: For true Big Data MDA or OLAP... Go for Google cloud solution or focus on Neo4j/NoSQL based analytics
